<footer>
    <div class="container-fluid mt-2 bg-dark">
        <div class="container text-warning py-5">
            <div class="row ">
                <div class="col-md-4">
                    <img class="img-footer d-inline" src="../../../assets/img/rocket.svg" alt="Logo Rocket">
                    <p class="d-inline">&copy;2022 - Rocket Inc.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-warning text-capitalize">Mapa del Sitio</h4>
                    <div class="row col-6">
                        <hr class="text-warning">
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="card bg-transparent border-dark">
                        <div class="card-header">
                            <h4 class="card-title">Subscríbete a nuestro newsletter!!!</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
                                <button class="btn btn-outline-warning" type="button">Enviar</button>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
            <hr class="text">
            <div class="row p-2 text-warning text-center">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia consequatur mollitia culpa doloribus laborum assumenda ratione in quaerat debitis numquam!</p>
            </div>
        </div>
    </div>
</footer>
