<div class="container fondo">
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <div class="card bordes-transparentes-datos">
                <img src="../../../assets/img/pia.png" class="rounded-circle w-100 bordes-transparentes-imagen" alt="...">
                <div class="card-header bordes-transparentes-datos">
                    <h4>Pía Muñoz</h4>
                  </div>
                  <div class="card-header bordes-transparentes-datos">
                    <h5>pmunoznu@emeal.nttdata.com</h5>
                  </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card bordes-transparentes-datos">
                <img src="../../../assets/img/allan.png" class="rounded-circle w-100 bordes-transparentes-imagen" alt="...">
                <div class="card-header bordes-transparentes-datos">
                    <h4>Allan Saavedra</h4>
                  </div>
                  <div class="card-header bordes-transparentes-datos">
                    <h5>asaavedb@emeal.nttdata.com</h5>
                  </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card bordes-transparentes-datos">
                <img src="../../../assets/img/fernando.png" class="rounded-circle w-100 bordes-transparentes-imagen" alt="...">
                <div class="card-header bordes-transparentes-datos">
                    <h4>Fernando Soto</h4>
                  </div>
                  <div class="card-header bordes-transparentes-datos">
                    <h5>fsotogon@emeal.nttdata.com</h5>
                  </div>
              </div>
        </div>
    </div>
</div>
